fastapi==0.124.4
httpx==0.28.1
uvicorn==0.33.0
gunicorn==23.0.0
requests==2.32.4
pytest==8.3.5
pyflakes==3.2.0
black==24.8.0
aiosqlite==0.18.0
databases==0.7.0
SQLAlchemy==1.4.46
asyncpg==0.29.0
psycopg2-binary==2.9.9
alembic==1.10.2
geopy==2.5.0
pytest-dependency==0.6.1
pydantic==2.10.6
